body
{
    margin: 0;
    padding: 0;

}

#center{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#checkbox1 {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
}


input [type="checkbox"]

{
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: grey;
    outline: none;
    border-shadow: inset 0 0 5px rgba(0,0,0,.2);

    /*transition: 5s; */


}

input:checked [type="checkbox"]
{
    background: #7B0202;
}

input[type="checkbox"]:before
{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top:0;
    left:0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;



}

input[type="checkbox"]:before
{
    left:40px;
}


