body {
    background-image: url(hintergrundbild.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}


#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

#background {
    position: relative;
    height: auto;
    background-color: #888483;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}
.bg-dunkel{
    background-color: #888483;
}


#buttonfriends {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:35px;
    margin-top: 30px;
    margin-left:280px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: left;

    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;

}


#buttonfriends:hover {
    background-color:#7B0202;
    color: white;
}

.strich {
    margin-top: 70px; }


#buttonstudents {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:35px;
    margin-top: 30px;
    float: left;
    margin-left: 70px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: right;

    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;

}
#buttonstudents:hover {
    background-color:#7B0202;
    color:white;
}


#neuerbeitrag {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:500;
    float: left;
    position: absolute;
    margin-left: 15px;
    margin-top:10px;
}
#text1 {
    position:absolute;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
    float:left;
    margin-left:17px;
    margin-top:20px;


}


#post {
    height: 100px;
    width: 300px;
    margin-top:20px;
    margin-left:15px;
    margin-right:15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;

}


#button2 {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left: 105px;
    margin-top: -15px;
    justify-content: center;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;

}
#button3 {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left: 15px;
    margin-top:-15px;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
    justify-content: center;

}


#text2 {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;
    float:left;
    margin-left: 10px;
    margin-top:20px;
}


#dateiauswahl {
    position: absolute;
    float:left;
    margin-left: -220px;
    margin-top:25px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;

}

#button4 {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left:-220px;
    margin-top: 40px;
    justify-content: center;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;

}
#button5 {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left: -130px;
    margin-top:40px;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
    justify-content: center;

}



#recommendation {
    height: 300px;
    background-color: #888483;
    margin-top: 80px;
    horiz-align: center;
    position:relative;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}


#profile {
    height: 200px;
    background-color: #888483;
    margin-top: 80px;
    position:relative;
    horiz-align: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}


.ueberschriftenmain {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 130%;
    justify-content: center;
    margin-top:20px;
    margin-left: 20px;

}

.name{
    position: absolute;
    margin-top: 60px;
    margin-left: 5%;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
}

.adresseneu{
    position: absolute;
    margin-top:70px;
    margin-left:5%;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
}


.tabelle1 {
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    width:450px;
    height: auto;
    background-color: white;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}

#tabelleposts {
    width:auto;
    margin-left:20px;
    margin-right:20px;
    height: auto;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;


}

#tabellename {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin-left:10px;
    width:200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
}



#tabelleemail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:280px;
    margin-left:10px;
    width:200px;px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;



}

#postsprofilbild {
    position: absolute;
    margin-top: -65px;
    margin-left:10px;
    height:50px;
    width:50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;

}

#postsbenutzername {
    position: absolute;
    color: black;
    font-family: "Helvetica Neue";
    font-size:130%;
    font-weight: 400;
    text-decoration: none;
    float:left;
    margin-left: 80px;
    margin-top: -50px;


}
#postszeit {
    position: absolute;
    color: black;
    font-family: "Helvetica Neue";
    font-size:80%;
    font-weight: 200;
    text-decoration: none;
    float:left;
    margin-left: 80px;
    margin-top: -25px;

}

#poststext {
    position: absolute;
    color: black;
    font-family: "Helvetica Neue";
    font-size:120%;
    font-weight: 300;
    text-decoration: none;

    margin-top: 20px;
    margin-right:40px;
    margin-left:80px;

}


#postsbild {

    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: 50px;
    height:100px;

}

/*Css Profilseite */


.zumeintragen{
    position:absolute;
    float:left;
    margin-top: 40px;
    margin-left:30px;
}




#recommendationsprofilseite {
    height: 300px;
    background-color: #888483;
    margin-top: 80px;
    horiz-align: center;
    position:relative;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}

#backgroundprofilseite {
    position: relative;
    height: auto;
    background-color: #888483;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}
.bg-dunkel{
    background-color: #888483;
}


#anzeigederbeiträgeundfreunde {
    height: 300px;
    background-color: #888483;
    margin-top: 80px;
    horiz-align: center;
    position:relative;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}

#profilbildanzeige {
    position:absolute;
    float:left;
    height:120px;
    width:120px;
    margin-top: 20px;
    margin-left: 20px;
}

#ueberschrift {
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 130%;
    justify-content: center;
    margin-top:20px;
    margin-left: 20px;
}

#profilbild1 {
    position:absolute;
    width:120px;
    height:120px;
    background-color: white;
    margin-left:20px;
    margin-top:70px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;

}

#benutzernameprofil {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    float:right;
    margin-top: 30px;
    margin-left:170px;
    width:173px;
    height: 45px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}



#benutzernamemail {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:140px;
    margin-left:170px;
    width:173px;
    height: 45px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;



}


#profildatenneu {
    position:absolute;
    margin-top: 230px;
    margin-left: 20px;
    width: 300px;
    height: 70px;
    background: #9999;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;


}

.benennung {
    font-family: "Helvetica Neue";
    color:white;
    float:left;
    margin-top:10px;
    margin-left:10px;
}

.strich1 {
    margin-top:320px;
}

.neubuttonsettings {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:35px;
    margin-top: 420px;
    margin-left: 250px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;

}

.neubuttonsettings:hover {
    background-color:#7B0202;
    color: white;
}

.ueberschrift1 {

    position: absolute;
    color: white;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 110%;
    justify-content: center;
    margin-top:30px;
    margin-left: 20px;
    margin-right:20px;


}


#buttonfriendsneu {
position:absolute;
    width:80px;
    height:60px;
    margin-top:60px;
    background-color: white;
    margin-left:27%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}

.ueberschrift2 {
    position: absolute;
    float:left;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 110%;
    margin-top:145px;
    margin-left: -5px;
    margin-right:20px;


}

#buttonpostsneu {
    position:absolute;
    width:80px;
    height:60px;
    margin-top:190px;
    background-color: white;
    margin-left:27%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

.strich3 {
    margin-top: 470px;
    color:white;
}

.anzahl {
    text-align:center;
    font-family: "Helvetica Neue";
    font-size:90%;
    font-weight:300;
    margin-top:13px;



}


/* meine freunde */


#ueberschriftmeinefreunde {
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 130%;
    justify-content: center;
    margin-top:20px;
    margin-left: 20px;
}

#kasten {
    width:auto;
    margin-left:20px;
    margin-right:20px;
    height: 15px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}

#kastentext {
    color:black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: left;
    margin-left: 30px;



}

#meinefreundeprofilbild {

    height:50px;
    width:50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;

}


/* Einstellungen*/

.strich4 {
    margin-top:190px;
    background-color: white;
}

#profildatenneu1 {
    position:absolute;
    margin-top: 130px;
    margin-left: 20px;
    width: 300px;
    height: 70px;
    background: #9999;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;


}

.benennung1 {
    font-family: "Helvetica Neue";
    color:white;
    float:left;
    margin-top:10px;
    margin-left:10px;
}

#dateiauswahlneu {
    position: absolute;
    float:left;
    margin-left: -210px;
    margin-top:50px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;

}

#button4neu {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left:-250px;
    margin-top: 40px;
    justify-content: center;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;

}


#button5neu {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left: -160px;
    margin-top:40px;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
    justify-content: center;

}
#ueberschriftneu {
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 110%;
    justify-content: center;
    margin-top:15px;
    margin-left: 40px;
}

#text3{
    color: white;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;
    float:left;
    margin-left: 30px;
    margin-top:20px;
}

#profildatenneu1 {
    position:absolute;
    margin-top: 50px;
    margin-left: 20px;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;


}

.benennung {
    font-family: "Helvetica Neue";
    color:white;
    float:left;
    margin-top:10px;
    margin-left:10px;
}


.strich5{
    margin-top:110px;
    background-color: white;
}


#speichern {
    position: absolute;
    float:left;
    margin-top:10px;
    margin-left:-40px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
}

#speichern:hover {
    background-color:#7B0202;
    color: white;
}

.buttonsavesettings {
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 80px;
    height:35px;
    margin-top: 210px;
    margin-left:230px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 110%;
    font-weight:400;

}

.buttonsavesettings :hover {
    background-color:#7B0202;
    color: white;
}


.buttonsavesettings {
    position: absolute;
    float:left;
    margin-top:280px;
    margin-left:240px;
    width: 80px;
    height:35px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
}

.buttonsavesettings:hover {
    background-color:#7B0202;
    color: white;
}


#backgroundneu {

    position: relative;
    height: auto;
    background-color: #888483;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}
