
body {
    background-image: url(hintergrundbild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#header {
    width: 100%;
    height: 40px;
    background-color: #7B0202;
    position:fixed;
    top: 0;
    left: 0;

}


h1 {
    font-family: "Helvetica Neue";
    font-size: 150%;
    color: white;
    text-align: left;
    margin-top: 7px;
    padding-left:15px;
    font-weight: 100;
    vertical-align:middle;

}


#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

#background {


    width: 500px;
    height: auto;
    background-color: #888483;
    margin-top: 150px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}



#buttonfriends {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height:35px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: left;
    margin-left: 70px;
    margin-top:40px;


    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;

}

#buttonfriends:hover {
    background-color:#7B0202;
    color: white;
}

#buttonstudents {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 150px;
    height:35px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: right;
    margin-right: 70px;
    margin-top: 40px;


    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;


}

#buttonstudents:hover {
    background-color:#7B0202;
    color:white;
}

#neuerbeitrag {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:500;
    float: left;
    margin-left: 30px;
    margin-top:10px;
}

#text1 {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
    float:right;
    margin-right: 233px;
    margin-top:-20px;

}

#text2 {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;
    float:left;
    margin-left: 30px;
    margin-top:20px;
}

#dateiauswahl {
    float:right;
    margin-right: 233px;
    margin-top:-5px;

    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;


}

#post {
    width:450px;
    height: 100px;
    margin-top: -5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}


.strich {
    margin-top: 100px;

}

#button2 {
    float:right;
    margin-right: 30px;
    margin-top: -5px;
    justify-content: center;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}

#button3 {
    float:right;
    margin-right: 10px;
    margin-top: -5px;
    justify-content: center;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}

#button4 {
    float:left;
    margin-left: 25px;
    margin-top: 10px;
    justify-content: center;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}


#button5 {
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: center;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}



#recommondation {
    width: 200px;
    height: 300px;
    background-color: #888483;
    margin-top: 150px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}


#profile {
    width: 200px;
    height: 300px;
    background-color: #888483;
    margin-top: 150px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}

.ueberschriftenmain {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
}

#suche {
    border: 2px solid white;
    border-radius: 30px;
    font-size: 15px;
    width: 150px;

}

#suche1 {
    font-family: "Helvetica Neue";
    font-size: 100%;
    color: black;
    position: relative;
    font-weight: 100;
}

#navigation {
    margin-top: 15px;
    padding:0;
    list-style: none;
}

.listitem {
    float: left;
    width: 170px;
    height: 30px;
    background-color: white;
    border-color: #70202F;
    border-width:1px;
    border-style:solid;
    margin-right:2px;
    font-family:"Helvetica Neue";
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}

.listitem a {
    text-decoration: none;
    color:black;
    display: block;

}

.listitem a:hover {
    background-color: #7B0202;
    color: white;

}

ul li ul li {
    display: none;
    background-color: white;
    border-color: #7B0202;
    border-width:1px;
    border-style:solid;
    margin-top:1px;
    margin-bottom:2px;

}

ul li:hover ul li{
    display:block;
}


.tabelle1 {
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    width:450px;
    height: auto;
    background-color: white;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}



#notificationneu {
    position: fixed;
    top: 10px;
    right: 100px;
}

#logoutbutton {

    width: 90px;
    height: 30px;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    float:right;
    margin-right:15px;
    margin-top: -46px;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 120%;
    line-height:30px;
    font-weight: 300;

}
#logoutbutton a {
    text-decoration: none;
    color: black;
}

#logoutbutton :hover {
    text-decoration: none;
    color: #7B0202;
}

