body {
    background-color: white;
    text-align: center;

}

#header {
    width: 100%;
    height: 40px;
    background-color: #5A342F;
    position:fixed;
    top: 0px;
    left: 0px;

}


h1 {
    font-family: "Helvetica Neue";
    font-size: 150%;
    color: white;
    text-align: left;
    left: 15px;
    top: 50%;

    font-weight: 100;

}



#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

#background {


    width: 500px;
    height: 2000px;
    background-color: #905A53;
    margin-top: 65px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}



#buttonfriends {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height:35px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: left;
    margin-left: 70px;
    margin-top:40px;


    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;

}

#buttonfriends:hover {
    background-color:#B9877E;
}

#buttonstudents {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 150px;
    height:35px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: right;
    margin-right: 70px;
    margin-top: 40px;





    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;


}

#buttonstudents:hover {
    background-color:#B9877E;
}

#text {
    width:450px;
    height: 100px;
    margin-top: 60px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}


#recommondation {
    width: 200px;
    height: 300px;
    background-color: #B9877E;
    margin-top: 65px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}


#profile {
    width: 200px;
    height: 300px;
    background-color: #B9877E;
    margin-top: 65px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}

.ueberschriftenmain {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
}

#suche {
    border: 2px solid white;
    border-radius: 30px;
    font-size: 15px;
    width: 150px;

}

#suche1 {
    font-family: "Helvetica Neue";
    font-size: 100%;
    color: black;
    position: relative;
    font-weight: 100;



}