
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

#background {
    position: relative;
    height: auto;
    background-color: #888483;
    margin-top: 150px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}
.bg-dunkel{
    background-color: #888483;
}


#buttonfriends {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:35px;
    margin-top: 30px;
    margin-left:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: left;




    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;

}

#buttonfriends:hover {
    background-color:#7B0202;
    color: white;
}

#buttonstudents {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 150px;
    height:35px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: right;
    margin-right: 70px;
    margin-top: 40px;


    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;


}

#buttonstudents:hover {
    background-color:#7B0202;
    color:white;
}


#neuerbeitrag {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:500;
    float: left;
    margin-left: 25px;
    margin-top:70px;
}

#text1 {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
    float:right;
    margin-right:233px;
    margin-top:20px;

}

#text2 {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;
    float:left;
    margin-left: 30px;
    margin-top:20px;
}

#dateiauswahl {
    float:right;
    margin-right: 233px;
    margin-top:-5px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;


}

#post {
    height: 100px;
    width: 300px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}


.strich {
    margin-top: 100px;

}

#button2 {
    float:right;
    margin-right: 30px;
    margin-top: -5px;
    justify-content: center;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}

#button3 {
    float:right;
    margin-right: 10px;
    margin-top: -5px;
    justify-content: center;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}

#button4 {
    float:left;
    margin-left: 25px;
    margin-top: 10px;
    justify-content: center;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}


#button5 {
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: center;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}



#recommendation {
    height: 300px;
    background-color: #888483;
    margin-top: 150px;
    horiz-align: center;
    position:relative;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}


#profile {
    height: 300px;
    background-color: #888483;
    margin-top: 150px;
    position:relative;
    horiz-align: center;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}

.ueberschriftenmain {
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 130%;
    justify-content: center;
    margin-top:20px;
    margin-left: 20px;
    position:absolute;
}

#searcharea {
    hight: 30px;
    font-family: "Helvetica Neue";
    font-size: 100%;
    position: fixed;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 25px;
    color: white;
    font-weight: 100;

}
#searchbox {
    height: 20px;
    position: fixed;
    top: 7px;
    right: 300px;
    border-radius: 60px;
    -moz-border-radius:60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;

}


#navigation {
    list-style: none;
    float:left;
    margin-left:70px;
    margin-top: -46px;
}

.listitem {
    float: left;
    width: 170px;
    height: 30px;
    background-color: white;
    border-color: #70202F;
    border-width:1px;
    border-style:solid;
    margin-right:2px;
    font-family:"Helvetica Neue";
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    font-size: 18px;

}

.listitem a {
    text-decoration: none;
    color:black;
    display: block;

}

.listitem a:hover {
    background-color: #888483;
    color: white;

}

ul li ul li {
    position:absolute;
    display: none;
    background-color: white;
    border-color: #7B0202;
    border-width:1px;
    border-style:solid;
    margin-top:2px;
    margin-bottom:2px;


}

ul li:hover ul li{
    display:block;
}


.tabelle1 {
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    width:450px;
    height: auto;
    background-color: white;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}


#notificationneu {
    position: fixed;
    top: 10px;
    right: 100px;
}



#poststext {
    max-width: 445px;
    display: block;

}

#tabelleposts {
    width:300px;
    height: auto;
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}

#tabellename {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin-left:10px;
    width:200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
}



#tabelleemail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:280px;
    margin-left:10px;
    width:200px;px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;



}



.name{
    position: absolute;
    margin-top: 60px;
    margin-left: 15px;
}

.neuemail{
    position: absolute;
    margin-top: 100px;
    margin-left:5px;
}


#postsprofilbild {
    height:50px;
    width:50px;

}