@media only screen and (min-width: 576px) {
    .col-s-1 {width: 8.33%; padding-left: 10px; padding-right: 10px;}
    .col-s-2 {width: 16.66%; padding-left: 10px; padding-right: 10px;}
    .col-s-3 {width: 25%; padding-left: 10px; padding-right: 10px;}
    .col-s-4 {width: 33.33%; padding-left: 10px; padding-right: 10px;}
    .col-s-5 {width: 41.66%; padding-left: 10px; padding-right: 10px;}
    .col-s-6 {width: 50%; padding-left: 10px; padding-right: 10px;}
    .col-s-7 {width: 58.33%; padding-left: 10px; padding-right: 10px;}
    .col-s-8 {width: 66.66%; padding-left: 10px; padding-right: 10px;}
    .col-s-9 {width: 75%; padding-left: 10px; padding-right: 10px;}
    .col-s-10 {width: 83.33%; padding-left: 10px; padding-right: 10px;}
    .col-s-11 {width: 91.66%; padding-left: 10px; padding-right: 10px;}
    .col-s-12 {width: 100%; padding-left: 10px; padding-right: 10px;}
}

@media only screen and (min-width: 768px) {
    .col-m-1 {width: 8.33%; padding-left: 10px; padding-right: 10px;}
    .col-m-2 {width: 16.66%; padding-left: 10px; padding-right: 10px;}
    .col-m-3 {width: 25%; padding-left: 10px; padding-right: 10px;}
    .col-m-4 {width: 33.33%; padding-left: 10px; padding-right: 10px;}
    .col-m-5 {width: 41.66%; padding-left: 10px; padding-right: 10px;}
    .col-m-6 {width: 50%; padding-left: 10px; padding-right: 10px;}
    .col-m-7 {width: 58.33%; padding-left: 10px; padding-right: 10px;}
    .col-m-8 {width: 66.66%; padding-left: 10px; padding-right: 10px;}
    .col-m-9 {width: 75%; padding-left: 10px; padding-right: 10px;}
    .col-m-10 {width: 83.33%; padding-left: 10px; padding-right: 10px;}
    .col-m-11 {width: 91.66%; padding-left: 10px; padding-right: 10px;}
    .col-m-12 {width: 100%; padding-left: 10px; padding-right: 10px;}
}

@media only screen and (min-width: 992px) {
    .col-l-1 {width: 8.33%; padding-left: 10px; padding-right: 10px;}
    .col-l-2 {width: 16.66%; padding-left: 10px; padding-right: 10px;}
    .col-l-3 {width: 25%; padding-left: 10px; padding-right: 10px;}
    .col-l-4 {width: 33.33%; padding-left: 10px; padding-right: 10px;}
    .col-l-5 {width: 41.66%; padding-left: 10px; padding-right: 10px;}
    .col-l-6 {width: 50%; padding-left: 10px; padding-right: 10px;}
    .col-l-7 {width: 58.33%; padding-left: 10px; padding-right: 10px;}
    .col-l-8 {width: 66.66%; padding-left: 10px; padding-right: 10px;}
    .col-l-9 {width: 75%; padding-left: 10px; padding-right: 10px;}
    .col-l-10 {width: 83.33%; padding-left: 10px; padding-right: 10px;}
    .col-l-11 {width: 91.66%; padding-left: 10px; padding-right: 10px;}
    .col-l-12 {width: 100%; padding-left: 10px; padding-right: 10px;}
}

.bla {

    float:left;
    margin-top: 100px;


}


#suchebutton{
margin-right:20px;
    color:black;


}
#suchebutton:hover {
    color:white;
}

#dropdown01 {
    margin-right:20px;


}


#fonttouch {
    color:black;
    font-family:"Helvetica Neue";
    font-weight:300;
    font-size:160%;

}

#fontfeed {color:black;
    font-family:"Helvetica Neue";
    font-weight:200;
    font-size:130%;

}
#navbarDropdown {color:black;
    font-family:"Helvetica Neue";
    font-weight:200;
    font-size:130%;

}

#fontprofil {color:black;
    font-family:"Helvetica Neue";
    font-weight:200;
    font-size:100%;

}
#fonteinstellungen {color:black;
    font-family:"Helvetica Neue";
    font-weight:200;
    font-size:100%;

}
#fontfreunde {color:black;
    font-family:"Helvetica Neue";
    font-weight:200;
    font-size:130%;

}