body {
    background-image: url(hintergrundbild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#header {
    width: 100%;
    height: 40px;
    background-color: #7B0202;
    position:fixed;
    top: 0;
    left: 0;

}


h1 {
    font-family: "Helvetica Neue";
    font-size: 150%;
    line-height:10px;
    color: white;
    text-align: left;
    padding-left:15px;

    font-weight: 100;

}
#navigation {
    list-style: none;
    float:left;
    margin-left:70px;
    margin-top: -37px;
}

.listitem {
    float: left;
    width: 170px;
    height: 30px;
    background-color: white;
    border-color: #70202F;
    border-width:1px;
    border-style:solid;
    margin-right:2px;
    font-family:"Helvetica Neue";
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}

.listitem a {
    text-decoration: none;
    color:black;
    display: block;

}

.listitem a:hover {
    background-color: #888483;
    color: white;

}

ul li ul li {
    display: none;
    background-color: white;
    border-color: #7B0202;
    border-width:1px;
    border-style:solid;
    margin-top:1px;
    margin-bottom:2px;
    position: absolute;

}

ul li:hover ul li{
    display:block;
}

#searcharea {
    width: 85px;
    hight: 30px;
    font-family: "Helvetica Neue";
    font-size: 100%;
    position: fixed;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 25px;
    color: white;
    font-weight: 100;

}
#searchbox {
    height: 20px;
    width: 200px;
    position: fixed;
    top: 7px;
    right: 300px;
    border-radius: 60px;
    -moz-border-radius:60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;

}

#notificationneu {
    position: fixed;
    top: 5px;
    right: 237px;
    color:black;
}

#messageneu {
    position: fixed;
    top: 5px;
    right: 195px;
}

#settingneu {
    position: fixed;
    top: 5px;
    right: 150px;

}

#logoutbutton {

    width: 90px;
    height: 30px;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    float:right;
    margin-right:15px;
    margin-top: -37px;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 120%;
    line-height:30px;
    font-weight: 300;

}
#logoutbutton a {
    text-decoration: none;
    color: black;
}

#logoutbutton :hover {
    text-decoration: none;
    color: #7B0202;
}


#searchbox {
    height: 20px;
    width: 200px;
    position: fixed;
    top: 7px;
    right: 300px;
    border-radius: 60px;
    -moz-border-radius:60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;

}

#suchebutton {
    height: 20px;
    width: 50px;
    position: fixed;
    top: 10px;
    right: 240px;

}