body {
    background-color: white;
    text-align: center;
}

#header {
    width: 100%;
    height: 40px;
    background-color: #5A342F;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 25px;

}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;


}
#background {

width: 500px;
height: 2000px;
background-color: #905A53;
margin-top: 65px;
position: absolute;
top: 40px;
left: 25%;
right:25%;
border-radius: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
-o-border-radius: 30px;
}

.button1 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 35px;
    top: 490px;
    width: 150px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}
.button1:hover {
     background-color:#B9877E;
 }

.button2 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 35px;
    top: 490px;
    width: 150px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}

.button2:hover {
    background-color:#B9877E;
}

.button3 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 210px;
    right: 125px;
    top: 260px;
    width: 85px;
    height: 65px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;

}

.button3:hover {
    background-color:#B9877E;
}

.button4 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20%;
    top: 260px;
    width: 85px;
    height: 65px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;

}
.button4:hover {
    background-color:#B9877E;
}

.button5 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20%;
    top: 260px;
    width: 85px;
    height: 65px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;

}

.button5:hover {
    background-color:#B9877E;
}

.button6 {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position:absolute;
    top:80px;
    left:325px;
    width: 145px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
}


.button7 {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position: absolute;
    top:140px;
    left:325px;
    width:145px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;


}

.button8 {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position:absolute;
    top:120px;
    left:900px;
    width: 145px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;

}

.button8:hover {
    background-color:#D86763;
}



#text {
    position: absolute;
    width:220px;
    height: 80px;
    top: 350px;
    left: 25px;
    color: #707070;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}


h1 {
    font-family: "Helvetica Neue";
    font-size: 150%;
    color: white;
    text-align: left;
    left: 15px;
    top: 50%;
    font-weight: 100;
}
h3 {
    font-size: 150%;
    color: white;
    text-align: left;
    position: absolute;
    font-family: "Helvetica Neue";
    top: 15px;
    left: 25px;
    font-weight: 100;

}

#search {
    border: 3px solid white;
    position: fixed;
    top: 25px;
    left:50%;
    border-radius: 30px;
    font-size: 15px;
    width: 150px;

}

#searcharea {
    width: 85px;
    hight: 30px;
    font-family: "Helvetica Neue";
    font-size: 100%;
    position: fixed;
    top: 25px;
    left:50%;
    color: black;
    font-weight: 100;
}












