h3 {
    font-size: 150%;
    color: white;
    text-align: left;
    position: absolute;
    font-family: "Helvetica Neue";
    top: 15px;
    left: 25px;
    font-weight: 100;

}

#main {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}
#background {

width: 500px;
height: 2000px;
background-color: #905A53;
margin-top: 150px;
position: fixed;
margin-right: auto;
margin-left:auto;
top: 40px;
left: 25%;
right:25%;
border-radius: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
-o-border-radius: 30px;
}
.wrapper{

}

.button1 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 35px;
    top: 490px;
    width: 150px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}
.button1:hover {
     background-color:#B9877E;
 }

.button2 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 35px;
    top: 490px;
    width: 150px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}

.button2:hover {
    background-color:#B9877E;
}

.button3 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 210px;
    right: 125px;
    top: 245px;
    width: 85px;
    height: 85px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;

}




.button4 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20%;
    top: 245px;
    width: 85px;
    height: 85px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;

}


.button5 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20%;
    top: 245px;
    width: 85px;
    height: 85px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;

}



#tabellename {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position:absolute;
    top:100px;
    right: 35px;
    width: 200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
}




.tabelle1 {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 90%;


}

#tabelleemail {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position: absolute;
    top:180px;
    right: 35px;
    width:200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;



}

.tabelle2 {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 90%;


}

.button8 {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position:absolute;
    top:120px;
    left:1000px;
    width: 145px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;

}

.button8:hover {
    background-color:#D86763;
}

.button9 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 350px;
    right:35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}

.button9:hover {
    background-color:#B9877E;
}

.button10{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25px;
    top: 80px;
    width: 140px;
    height: 140px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;

}





#text {
    position: absolute;
    width:250px;
    height: 90px;
    top: 350px;
    left: 25px;
    color: #707070;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}


#recommondation {
    width: 200px;
    height: 300px;
    background-color: #B9877E;
    margin-top: 150px;
    position: fixed;
    top:40px;
    text-align: center ;
    right: 1000px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}



.ueberschriftenmain {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight: 300;
}




















