
h3 {
    font-size: 150%;
    color: white;
    text-align: left;
    position: absolute;
    font-family: "Helvetica Neue";
    top: 15px;
    left: 25px;
    font-weight: 100;

}

#main {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}



#background {

    width: 500px;
    height: auto;
    background-color: #888483;
    margin-top: 150px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
}




.button1 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 35px;
    top: 510px;
    width: 150px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}
.button1:hover {
     background-color:#7B0202;
 }

.button2 {
    float: right;
    margin-right: 35px;
    margin-top: 100px;
    width: 150px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}

.button2:hover {
    background-color:#7B0202;
}

.button3 {
    margin-left: 20px;
    margin-top: 50px;
    width: 85px;
    height: 85px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;

}


.button4 {
    float:right;
    margin-right: 100px;
    margin-top: 50px;
    width: 85px;
    height: 85px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
}


.button5 {
    float:right;
    margin-right: 300px;
    margin-top: 50px;
    width: 85px;
    height: 85px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;

}

#tabellename {
    float:right;
    top:90px;
    right: 50px;
    width: 200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
}



#tabelleemail {
    float:right;
    top:200px;
    right: 20px;
    width:200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;



}
.strich {
    margin-top: 200px;

}


.button8 {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position:absolute;
    top:120px;
    left:1000px;
    width: 145px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;

}

.button8:hover {
    background-color:#D86763;
}

.button9 {
    width: 120px;
    height: 120px;
    top: 80px;
    left: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}

.ueberschrift{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25px;
    top: 80px;
    width: 140px;
    height: 140px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;

}





#text {
    text-align: center;
    position: absolute;
    height: 100px;
    width: 440px;
    top: 350px;
    left: 30px;
    right:30px;
    color: #707070;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}

#sendenbutton {
    display: flex;
    align-items:center;
    justify-content: center;
    float: right;
    position:absolute;
    right: 30px;
    top: 465px;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}

#abbruchbutton {
    display: flex;
    align-items:center;
    justify-content: center;
    float: right;
    position:absolute;
    right: 120px;
    top: 465px;
    width: 80px;
    height:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;

}


#recommendation {
    width: 200px;
    height: 300px;
    background-color: #888483;
    margin-top: 150px;
    horiz-align: center;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}
#profile {
    width: 220px;
    height: 300px;
    background-color: #888483;
    margin-top: 150px;
    horiz-align: center;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}




.ueberschriftenmain {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight: 300;
}





#postsdernutzer {
    width:450px;
    height: auto;
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}


#tabellename1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:230px;
    margin-left:10px;
    width: 200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;

}

#tabelleemail1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:280px;
    margin-left:10px;
    width:200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;


}

#followbutton {
    margin-top: 50px;
    float:right;
margin-right:20px;
}




