body {
    background-color: white;
    text-align: center;
}


h1 {
    font-family: "Helvetica Neue";
    font-size: 150%;
    color: white;
    text-align: left;
    left: 15px;
    top: 50%;
    font-weight: 100;
}

#background {

    width: 500px;
    height: 2000px;
    background-color: #888483;
    margin-top: 65px;
    position: fixed;
    margin-right: auto;
    margin-left:auto;
    top: 40px;
    left: 25%;
    right:25%;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
}
.wrapper{

}


#text {
    position: absolute;
    width:250px;
    height: 90px;
    top: 350px;
    left: 25px;
    color: #707070;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}

.ueberschriftenmain1 {
    color: white;
    float: left;
    left: 50px;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight: 300;
}

.button1 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 35px;
    right: 35px;
    top: 490px;
    width: 425px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}
.button1:hover {
    background-color:#7B0202;
}


.button2 {

}

#searcharea {
    width: 85px;
    hight: 30px;
    font-family: "Helvetica Neue";
    font-size: 100%;
    position: fixed;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 25px;
    color: white;
    font-weight: 100;



}

#searchbox {
    height: 25px;
    width: 250px;
    position: fixed;
    top: 25px;
    right: 340px;
    border-radius: 60px;
    -moz-border-radius:60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;

}

#notificationneu {
    position: fixed;
    top: 25px;
    right: 220px;

}

#messageneu {
    position: fixed;
    top: 25px;
    right: 170px;

}
#settingneu {
    position: fixed;
    top: 25px;
    right: 120px;



}

#recommondation {
    width: 200px;
    height: 300px;
    background-color: #888483;
    margin-top: 65px;
    position: fixed;
    top:40px;
    text-align: center ;
    right: 1000px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}

.ueberschriftenmain {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight: 300;
}