body {
    background-color: white;
    text-align: center;
}


h1 {
    font-family: "Helvetica Neue";
    font-size: 150%;
    color: white;
    text-align: left;
    left: 15px;
    top: 50%;
    font-weight: 100;
}

h3 {
    font-size: 150%;
    color: white;
    text-align: left;
    position: absolute;
    font-family: "Helvetica Neue";
    top: 15px;
    left: 25px;
    font-weight: 100;

}


#background {

    width: 500px;
    height: 2000px;
    background-color: #888483;
    margin-top: 135px;
    position: fixed;
    margin-right: auto;
    margin-left:auto;
    top: 40px;
    left: 25%;
    right:25%;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
}
.wrapper{

}


#text {
    position: absolute;
    width:250px;
    height: 90px;
    top: 350px;
    left: 25px;
    color: #707070;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;


}

.ueberschriftenmain1 {
    color: white;
    float: left;
    left: 50px;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight: 300;
}

.button1 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 35px;
    right: 35px;
    top: 490px;
    width: 425px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}
.button1:hover {
    background-color:#7B0202;
}


.button9 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 100px;
    left: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}

.button9:hover {
    background-color: transparent;
}

.ueberschrift{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25px;
    top: 80px;
    width: 140px;
    height: 140px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;

}


.button2 {

}

#searcharea {
    width: 85px;
    hight: 30px;
    font-family: "Helvetica Neue";
    font-size: 100%;
    position: fixed;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 25px;
    color: white;
    font-weight: 100;



}

#searchbox {
    height: 25px;
    width: 250px;
    position: fixed;
    top: 25px;
    right: 340px;
    border-radius: 60px;
    -moz-border-radius:60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;

}

#notificationneu {
    position: fixed;
    top: 25px;
    right: 220px;

}

#messageneu {
    position: fixed;
    top: 25px;
    right: 170px;

}
#settingneu {
    position: fixed;
    top: 25px;
    right: 120px;



}

#recommendation {
    width: 200px;
    height: 300px;
    background-color: #888483;
    margin-top: 135px;
    position: fixed;
    top:40px;
    text-align: center ;
    right: 1000px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}

.ueberschriftenmain {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight: 300;
}

#tabellename {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position:absolute;
    top:90px;
    right: 35px;
    width: 200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
}



#tabelleemail {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position: absolute;
    top:150px;
    right: 35px;
    width:200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;



}

.button9 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 80px;
    left: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}
.strich {
    margin-top: 200px;

}



input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    float:left;
    top: 350px;
    left:400px;
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: lightgrey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right:0;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% );
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


