body {
    background-image: url(startseite_bild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

#startseite {
    margin-left: auto;
    margin-right: auto;

}


#ueberschrift {

    font-family: "Helvetica Neue";
    position: absolute;
    font-size: 500%;
    color: white;
    font-weight: 100;

}

#unterueberschrift {
   display:flex;
    text-align:center;
    position: absolute;
    font-family: "Helvetica Neue";
    color: white;
    font-size: 130%;
    font-weight: 200;
    margin-top:70px;
    margin-left:60px;

}

#buttonlogin {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height:35px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    margin-left: 28%;
    margin-top: 50%;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
    top:30px;
}

#buttonlogin:hover {
    background-color:#7B0202;
    color:white;
}

#buttonregister {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height:35px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight: 300;
    margin-left: 28%;
    margin-top: 40px;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
    top:10px;

}

#buttonregister:hover {
    background-color: #7B0202;
    color:white;
}




#header {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height:130px;
    background-color: #2C2C2C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;

}

#main {

    width: 350px;
    height: 450px;
    background-color: #2C2C2C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;

}



.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.pos{
    position: relative;
    top: 240px;
}