/* Hauptseite*/
body {
    background-image: url(hintergrundbild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#background {
    position: relative;
    height: auto;
    background-color: #888483;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

.bg-dunkel{
    background-color: #888483;
}

#buttonfriends {
    display:flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 150px;
    height:35px;
    margin-top: 30px;
    margin-right:40px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}

#buttonfriends:hover {
    background-color:#7B0202;
    color: white;
}

.strich {
    margin-top: 70px;
    background-color: white;
}

#beitrag {
    color: black;
    font-family: "Helvetica Neue";
    font-size: 120%;
    font-weight:300;
    float: left;
    position: absolute;
    margin-left: 15px;
    margin-top:15px;
}

#buttonstudents {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:35px;
    margin-top: 30px;
    float: left;
    margin-left: 40px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: right;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}

#buttonstudents:hover {
    background-color:#7B0202;
    color:white;
}

#neuerbeitrag {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:500;
    float: left;
    position: absolute;
    margin-left: 15px;
    margin-top:-5px;
}

#text1 {
    position:absolute;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
    float:left;
    margin-left:15px;
    margin-top:5px;
}

#post {
    height: 100px;
    width: 300px;
    margin-top:20px;
    margin-left:15px;
    margin-right:15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

#button2 {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left: 105px;
    margin-top: -15px;
    justify-content: center;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
}

#button3 {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left: 15px;
    margin-top:-15px;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
    justify-content: center;
}

#text2 {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;
    float:left;
    margin-left: 10px;
    margin-top:5px;
}


#dateiauswahl {
    position: absolute;
    float:left;
    margin-left: -220px;
    margin-top:25px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
}

#button4 {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left:-220px;
    margin-top: 40px;
    justify-content: center;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
}

#button5 {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left: -130px;
    margin-top:40px;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
    justify-content: center;
}

#dateiauswahlneuneu {
    float:left;
    margin-left: -100px;
    margin-top:20px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
}

#button4neuneu {
    float:left;
    width: 80px;
    height:20px;
    margin-left:-242px;
    margin-top: 35px;
    justify-content: center;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
}

#button5neuneu {
    float:left;
    width: 80px;
    height:20px;
    margin-left: -150px;
    margin-top:35px;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
    justify-content: center;
}

#recommendation {
    height: auto;
    background-color: #888483;
    margin-top: 80px;
    horiz-align: center;
    position:relative;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#profile {
    height: 200px;
    background-color: #888483;
    margin-top: 80px;
    position:relative;
    horiz-align: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

.ueberschriftenmain {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 130%;
    justify-content: center;
    margin-top:20px;
    margin-left: 20px;
}

.name{
    position: absolute;
    margin-top: 60px;
    margin-left: 5%;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
}

.adresseneu{
    position: absolute;
    margin-top:70px;
    margin-left:5%;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
}

.tabelle1 {
    color: black;
    font-family: "Helvetica Neue";
    font-size: 90%;
    width:450px;
    height: auto;
    background-color: white;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#tabelleposts {
     width:auto;
     margin-left:20px;
     margin-right:20px;
     height: content-box;
     background-color: white;
     margin-top: 20px;
     padding-bottom: 10px;
     display: flex;
     align-items: center;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -o-border-radius: 5px;
 }

#postskasten {
    width: auto;
    margin-left:20px;
    margin-right:20px;
    height:auto;
    background-color:white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top:10px;
}

#tabellename {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin-left:10px;
    width:200px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
}

#tabelleemail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:280px;
    margin-left:10px;
    width:200px;px;
    height: 35px;
    background: #eee;
    color: #707070;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
}

#postsprofilbild {
    margin-top: 10px;
    float:left;
    margin-left:10px;
    height:50px;
    width:50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

#postsbenutzername {
    color: black;
    font-family: "Helvetica Neue";
    font-size:130%;
    font-weight: 400;
    text-decoration: none;
    float:left;
    margin-left: 15px;
    margin-top: 5px;
}

#postszeit {
    position:absolute;
    color: black;
    font-family: "Helvetica Neue";
    font-size:80%;
    font-weight: 200;
    text-decoration: none;
    float:left;
    margin-left: 75px;
    margin-top: 10px;
}

#postszeitfriends {
    color: black;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight: 200;
    text-decoration: none;
    float: left;
    margin-left: 17px;
    margin-top: -10px;
}

#postszeitfriends1 {
    color: black;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight: 200;
    text-decoration: none;
    float: left;
    margin-left:-60px;
    margin-top: 10px;
}
#poststext {
    color: black;
    font-family: "Helvetica Neue";
    font-size:120%;
    font-weight: 300;
    text-decoration: none;
    margin-left:75px;
    margin-right:10px;
    margin-top:15px;
    padding-bottom:15px;
}

#poststextfriends {
    color: black;
    font-family: "Helvetica Neue";
    font-size:120%;
    font-weight: 300;
    text-decoration: none;
    margin-left:75px;
    margin-right:10px;
    margin-top:-5px;
    padding-bottom:15px;
}

#postsbild {
display:flex;
    justify-content: center;
   margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
    margin-bottom: 15px;
    margin-top: 20px;
    height:200px;
}

#postsbildfriends {
    display:flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
    margin-bottom: 15px;
    margin-top: 20px;
    height:200px;
}

#recommendationprofilbild {
    height:50px;
    width:50px;
    float:left;
    margin-left:-15px;
    margin-right:8px;
    margin-top:15px;
    margin-bottom:4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

/*Profilseite */

.zumeintragen{
    position:absolute;
    float:left;
    margin-top: 40px;
    margin-left:30px;
}

#recommendationsprofilseite {
    height: auto;
    background-color: #888483;
    margin-top: 80px;
    horiz-align: center;
    position:relative;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#backgroundprofilseite {
    position: relative;
    height: auto;
    background-color: #888483;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

.bg-dunkel{
    background-color: #888483;
}

#anzeigederbeiträgeundfreunde {
    height: 300px;
    background-color: #888483;
    margin-top: 80px;
    horiz-align: center;
    position:relative;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#profilbildanzeige {
    position:absolute;
    float:left;
    height:120px;
    width:120px;
    margin-top: 20px;
    margin-left: 20px;
}

#ueberschrift {
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 130%;
    justify-content: center;
    margin-top:20px;
    margin-left: 20px;
}

#profilbild1 {
    position:absolute;
    width:120px;
    height:120px;
    background-color: white;
    margin-left:20px;
    margin-top:70px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

#benutzernameprofil {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    float:right;
    margin-top: 70px;
    margin-left:170px;
    width:175px;
    height: 45px;
    background: #eee;
    color: black;
    font-family: "Helvetica Neue";
    font-size:100%;
    font-weight:300;
    box-sizing: border-box;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#benutzernamemail {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin-top:140px;
    margin-left:170px;
    width:175px;
    height: 45px;
    background: #eee;
    font-family: "Helvetica Neue";
    font-size:100%;
    font-weight:300;
    color: black;
    box-sizing: border-box;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

}

#profildatenneu {
    position:absolute;
    margin-top: 5px;
    margin-left: 20px;
    width: 300px;
    height: 70px;
    background: #9999;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

.benennung {
    font-family: "Helvetica Neue";
    color: white;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.strich1 {
    margin-top:330px;
}

.neubuttonsettings {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:35px;
    margin-top:150px;
    margin-left:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}

.neubuttonsettings:hover {
    background-color:#7B0202;
    color: white;
}

.ueberschrift11 {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 110%;
    padding-top:30px;
}

#buttonfriendsneu {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    width:80px;
    height:60px;
    margin-top:15px;
    background-color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

.ueberschrift2 {
    position: absolute;
    float:left;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 110%;
    margin-top:145px;
    margin-left: -5px;
    margin-right:20px;
}

.ueberschrift21 {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 110%;
    margin-top:30px;
}

#buttonpostsneu {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    width:80px;
    height:60px;
    margin-top:20px;
    background-color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

.strich3 {
    margin-top: 180px;
    background-color:white;
}

.strich4 {
    margin-top: 80px;
    background-color:white;
}

.anzahl {
    text-align:center;
    font-family: "Helvetica Neue";
    font-size:90%;
    font-weight:300;
    margin-top:13px;
}

/* Meine Freunde */

#ueberschriftmeinefreunde {
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 130%;
    justify-content: center;
    margin-top:20px;
    margin-left: 20px;
}

#kasten {
    width:auto;
    margin-left:20px;
    margin-right:20px;
    height: 15px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#kastentext {
    color:black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: left;
    margin-left: 30px;
    margin-top:10px;
}

#meinefreundeprofilbild {

    height:50px;
    width:50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

#keinefreunde {
    color:black;
    font-family: "Helvetica Neue";
    font-size: 120%;
    font-weight:300;
    text-align:center;
}

/* Einstellungen*/
.einstellungenaktualisiert {
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: "Helvetica Neue";
    font-size: 120%;
    font-weight: 300;
    color:black;
    margin-top:130px;
}



.strich4 {
    margin-top:190px;
    background-color: white;
}

.benennung1 {
    font-family: "Helvetica Neue";
    color:white;
    float:left;
    margin-top:10px;
    margin-left:10px;
}

#dateiauswahlneu {
    position: absolute;
    float:left;
    margin-left: -210px;
    margin-top:50px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
}

#button4neu {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left:-250px;
    margin-top: 40px;
    justify-content: center;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
}

#button5neu {
    position: absolute;
    float:left;
    width: 80px;
    height:20px;
    margin-left: -160px;
    margin-top:40px;
    font-family: "Helvetica Neue";
    font-size: 75%;
    font-weight:400;
    justify-content: center;
}

#ueberschriftneu {
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    font-weight:300;
    font-size: 110%;
    justify-content: center;
    margin-top:15px;
    margin-left: 40px;
}

#text3{
    color: white;
    font-family: "Helvetica Neue";
    font-size: 90%;
    font-weight:400;
    float:left;
    margin-left: 10px;
    margin-top:5px;
}

#profildatenneu1 {
    position:absolute;
    margin-top: 40px;
    margin-left: 20px;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

.eingabefeld {
    margin-right:10px;
    margin-top:7px;
    margin-bottom: 5px ;
}

.benennung {
    font-family: "Helvetica Neue";
    font-weight:300;
    color:white;
    float:left;
    margin-top:5px;
    margin-left:10px;
    margin-bottom: 5px;
}

.benennung4 {
    font-family: "Helvetica Neue";
    font-weight:300;
    color:white;
    text-align:center;
    margin-top:5px;
    margin-bottom: 5px;
}

.strich5{
    margin-top:110px;
    background-color: white;
}


#speichern {
    position: absolute;
    float:left;
    margin-top:130px;
    margin-left:25px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
}

#speichern:hover {
    background-color:#7B0202;
    color: white;
}

.buttonsavesettings {
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 80px;
    height:35px;
    margin-top: 210px;
    margin-left:230px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 110%;
    font-weight:400;
}

.buttonsavesettings :hover {
    background-color:#7B0202;
    color: white;
}


.buttonsavesettings {
    position: absolute;
    float:left;
    margin-top:280px;
    margin-left:240px;
    width: 80px;
    height:35px;
    font-family: "Helvetica Neue";
    font-size: 80%;
    font-weight:300;
}

.buttonsavesettings:hover {
    background-color:#7B0202;
    color: white;
}


#backgroundneu {
    position: relative;
    height: 800px;
    background-color: #888483;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

.neubuttonsave {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 180px;
    height:35px;
    margin-top:700px;
    margin-left:20px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}

.neubuttonsave:hover {
    background-color:#7B0202;
    color: white;
}

#kastentext {
    color:black;
    font-family: "Helvetica Neue";
    font-size: 130%;
    font-weight:300;
    float: left;
    margin-left: 10px;
}

/* Follow */

.followbutton {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 100px;
    height:35px;
    margin-top:175px;
    margin-left:30px;
    background-color:white;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-weight:300;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
}

.followbutton:hover {
    background-color:#7B0202;
    color: white;
}

/* Notification */

#postnotname {
    color:white;
    font-family:"Helvetica Neue";
    font-size:130%;
    padding-top:35px;
    font-weight: 200;
    text-align: center;
}

#postnotkasten2 {
    height:auto;
    width:300px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#postnotpost {
    color:black;
    font-family:"Helvetica Neue";
    font-size:150%;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: 200;
    text-align: center;
}

#postnotpostbild {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    height:200px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: 200;
    text-align: center;
}

#not1 {
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 300;
}

#postnotbutton {
    height:25px;
    width:130px;
    float:right;
    margin-right:15px;
    margin-top:20px;
    background-color:white;
    color:black;
    font-family: "Helvetica Neue";
    text-align: center;
    font-weight: 300;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#postnotbutton:hover {
    background-color:#7B0202;
    color: white;
}

/* Anzahl Posts & Freunde Fremdes Profil*/

#ueberschriftneuneufreunde {
position: absolute;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size:110%;
    color:black;
    margin-left: 20px;
    margin-top: 150px;
}

#ueberschriftneuneubeiträge {
position: absolute;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size:110%;
    color:black;
    margin-left: 200px;
    margin-top:150px;
}

#buttonfriendsneuneu {
    position:absolute;
    width:60px;
    height:40px;
    margin-top:180px;
    background-color: white;
    margin-left:43px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

#buttonbeiträgeneuneu {
    position:absolute;
    width:60px;
    height:40px;
    margin-top:180px;
    background-color: white;
    margin-left:225px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}

.anzahlneuneu {
    text-align:center;
    font-family: "Helvetica Neue";
    font-size:150%;
    font-weight:300;
    margin-top:2px;
}

/*Friends*/

#friendsbeiträge {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size:130%;
    margin-top:20px;
    color:white;
    margin-left:20px;
 margin-bottom:-15px;
}

/* Login*/

#ueberschriftlogin {
    font-family: "Helvetica Neue";
    position: absolute;
    font-size: 500%;
    color: white;
    font-weight: 100;
}

#headerlogin {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height:130px;
    background-color: #2C2C2C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
}

#unterueberschriftlogin {
    display:flex;
    justify-content:center;
    font-family: "Helvetica Neue";
    color: white;
    font-size: 190%;
    font-weight: 200;
    margin-top:30px;
}

.beschriftungbenutzername {
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Helvetica Neue";
    color: white;
    font-size: 120%;
    font-weight: 200;
    margin-top: 50px;
}

.beschriftungpasswort {
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Helvetica Neue";
    color: white;
    font-size: 120%;
    font-weight: 200;
    margin-top: 10px;
}

.beschriftung2 {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    font-family: "Helvetica Neue";
    font-size: 90%;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
}

/* Registrieren */

#unterueberschriftregistrieren {
    display:flex;
    justify-content:center;
    font-family: "Helvetica Neue";
    color: white;
    font-size: 190%;
    font-weight: 200;
    margin-top:50px;
    margin-bottom:-85px;
}

.beschriftung {
    display:flex;
    justify-content:center;
    color: white;
    font-family: "Helvetica Neue";
    color: white;
    font-size: 120%;
    font-weight: 200;
 position:relative;
    margin-top:20px;
}

.beschriftung3 {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    font-family: "Helvetica Neue";
    font-size: 90%;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
}

#loginbutton {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 130%;
    background-color: white;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
}

#loginbutton:hover {
    background-color:#7B0202;
    color:white;
}

#meldung {
    color: black;
    margin-top:5px;
    justify-content:center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

#main2 {
    width: 350px;
    height: 450px;
    background-color: #2C2C2C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
}